<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aiwen.wfgwechat.dao.MediaMapper" >
    <resultMap id="BaseResultMap" type="com.aiwen.wfgwechat.entity.pojo.Media" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="media_id" property="mediaId" jdbcType="VARCHAR" />
        <result column="app_flag" property="appFlag" jdbcType="VARCHAR" />
        <result column="app_version" property="appVersion" jdbcType="VARCHAR" />
        <result column="create_name" property="createName" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="update_name" property="updateName" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, media_id,app_flag,app_version,create_name,create_date,update_name,update_date
    </sql>
    <sql id="table">
      alz_ps_media
    </sql>
    <sql id="condition_item">
        <if test="item.id != null" >
            id=#{item.id}
        </if>
        <if test="item.mediaId != null" >
            AND media_id=#{item.mediaId}
        </if>
        <if test="item.appVersion != null" >
            AND app_version=#{item.appVersion}
        </if>
        <if test="item.appFlag != null" >
            AND app_flag=#{item.appFlag}
        </if>
        <if test="item.createName != null" >
            AND create_name=#{item.createName}
        </if>
        <if test="item.updateName != null" >
            AND update_name=#{item.updateName}
        </if>

        <if test="item.createDate != null" >
            AND create_date=#{item.createDate,jdbcType=TIMESTAMP}
        </if>
        <if test="item.updateDate != null" >
            AND update_date=#{item.updateDate,jdbcType=TIMESTAMP}
        </if>
    </sql>
    <sql id="condition">
        <if test="id != null" >
            id=#{id}
        </if>
        <if test="mediaId != null" >
            AND media_id=#{mediaId}
        </if>
        <if test="appFlag != null" >
            AND app_flag=#{appFlag}
        </if>
        <if test="appVersion != null" >
            AND app_version=#{appVersion}
        </if>
        <if test="createName != null" >
            AND create_name=#{createName}
        </if>
        <if test="updateName != null" >
            AND update_name=#{updateName}
        </if>
        <if test="createDate != null" >
            AND create_date=#{createDate,jdbcType=TIMESTAMP}
        </if>
        <if test="updateDate != null" >
            AND update_date=#{updateDate,jdbcType=TIMESTAMP}
        </if>
    </sql>

    <sql id="keyId">
        id=#{id}
  </sql>
    <sql id="keyId_item">
        id=#{item.id}
  </sql>
    <sql id="putValue">
        #{id,jdbcType=VARCHAR},
        #{mediaId,jdbcType=VARCHAR},
        #{appFlag,jdbcType=VARCHAR},
         #{appVersion,jdbcType=VARCHAR},
        #{createName,jdbcType=VARCHAR},
        #{updateName,jdbcType=VARCHAR},
        #{createDate,jdbcType=TIMESTAMP}
        #{updateDate,jdbcType=TIMESTAMP}
    </sql>
    <sql id="conditionKey">
        id,
        <if test="mediaId != null" >
            media_id,
        </if>
        <if test="appFlag != null" >
            app_flag,
        </if>
        <if test="appVersion != null" >
            app_version,
        </if>
        <if test="createName != null" >
            create_name,
        </if>
        <if test="updateName != null" >
            update_name,
        </if>
        <if test="createDate != null" >
            create_date,
        </if>
        <if test="updateDate != null" >
            update_date,
        </if>
    </sql>
    <sql id="condition_value_add">
        <if test="id == null" >
            (SELECT REPLACE(UUID(), '-', '')) ,
        </if>
        <if test="id != null" >
            #{id},
        </if>
        <if test="mediaId != null" >
            #{mediaId},
        </if>
        <if test="appFlag != null" >
            #{appFlag},
        </if>
        <if test="appVersion != null" >
            #{appVersion},
        </if>
        <if test="createName != null" >
            #{createName},
        </if>
        <if test="updateName != null" >
            #{updateName},
        </if>
        <if test="createDate != null" >
            #{createDate,jdbcType=TIMESTAMP},
        </if>
        <if test="updateDate != null" >
            #{updateDate,jdbcType=TIMESTAMP}
        </if>
    </sql>
    <sql id="condition_value_add_item">
        <if test="id == null" >
            ((SELECT REPLACE(UUID(), '-', '') AS app_id),
        </if>
        <if test="item.id != null" >
            #{item.id},
        </if>
        <if test="item.mediaId != null" >
            #{item.mediaId},
        </if>
        <if test="item.appFlag != null" >
            #{item.appFlag},
        </if>
        <if test="item.appVersion != null" >
            #{item.appVersion},
        </if>
        <if test="item.createName != null" >
            #{item.createName},
        </if>
        <if test="item.updateName != null" >
            #{item.updateName},
        </if>
        <if test="item.createDate != null" >
            #{item.createDate,jdbcType=TIMESTAMP},
        </if>
        <if test="item.updateDate != null" >
            #{item.updateDate,jdbcType=TIMESTAMP}
        </if>
    </sql>
    <sql id="condition_value_update">
        <if test="id != null" >
            id=#{id},
        </if>
        <if test="mediaId != null" >
            media_id=#{mediaId},
        </if>
        <if test="appFlag != null" >
            #{appFlag},
        </if>
        <if test="appVersion != null" >
            #{appVersion},
        </if>
        <if test="createName != null" >
            create_name=#{createName},
        </if>
        <if test="updateName != null" >
            update_name=#{updateName},
        </if>
        <if test="createDate != null" >
            create_date=#{createDate,jdbcType=TIMESTAMP},
        </if>
        <if test="updateDate != null" >
            update_date=#{updateDate,jdbcType=TIMESTAMP}
        </if>
    </sql>
    <sql id="condition_value_update_item">
        <if test="item.id != null" >
            id=#{item.id},
        </if>
        <if test="item.mediaId != null" >
            media_id=#{item.mediaId},
        </if>
        <if test="item.appFlag != null" >
            app_flag=#{item.appFlag},
        </if>
        <if test="item.appVersion != null" >
            app_version=#{item.appVersion},
        </if>
        <if test="item.createName != null" >
            create_name=#{item.createName},
        </if>
        <if test="item.updateName != null" >
            update_name=#{item.updateName},
        </if>
        <if test="item.createDate != null" >
            create_date=#{item.createDate,jdbcType=TIMESTAMP},
        </if>
        <if test="item.updateDate != null" >
            update_date=#{item.updateDate,jdbcType=TIMESTAMP}
        </if>
    </sql>
    <sql id="order">
        ORDER BY
        ${order} ${sort}
  </sql>
    <sql id="group">
        GROUP BY ${group}
  </sql>

    <select id="findPageBy" resultMap="BaseResultMap" parameterType="media">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <where>
            <include refid="condition"/>
        </where>
        <if test="group != null" >
            <include refid="group"/>
        </if>
        <if test="order != null" >
            <include refid="order"/>
        </if>
    </select>
    <select id="findById"  resultMap="BaseResultMap" parameterType="string" >
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <where>
            <include refid="keyId"/>
        </where>
    </select>

    <select id="findListBy"  resultMap="BaseResultMap" parameterType="media" >
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <where>
            <include refid="condition"/>
        </where>
    </select>

    <select id="findByList"  resultMap="BaseResultMap" parameterType="list" >
        <foreach  item="item" collection="list" separator=";" open="(" close=")">
            SELECT
            <include refid="Base_Column_List"/>
            FROM
            <include refid="table"/>
            <where>
                <include refid="condition_item"/>
            </where>
        </foreach>
    </select>
    <insert id="save" parameterType="media" >
        insert into <include refid="table"/>
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <include refid="conditionKey"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <include refid="condition_value_add"/>
        </trim>
    </insert>
    <insert id="saveList" parameterType="list" >
        insert into <include refid="table"/>
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <include refid="conditionKey"/>
        </trim>
        <foreach collection="list" index="index" item="item" separator=",">
            ( <include refid="condition_value_add_item"/>)
        </foreach>
    </insert>
    <update id="update" parameterType="media">
        update <include refid="table"/>
        <set >
            <include refid="condition_value_update"/>
        </set>
        <where>
            <include refid="keyId"/>
        </where>
    </update>
    <update id="updateList" parameterType="list">
        <foreach  item="item" collection="list" separator=";" open="(" close=")">
            update <include refid="table"/>
            <set >
                <include refid="condition_value_update_item"/>
            </set>
            <where>
                <include refid="keyId_item"/>
            </where>
        </foreach>
    </update>
    <delete id="deleteById" parameterType="string" >
        delete from
        <include refid="table"/>
        <where>
            <include refid="keyId"/>
        </where>
    </delete>

    <select id="findByVersion" resultMap="BaseResultMap" parameterType="media">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="table"/>
        <where>
            <include refid="condition"/>
        </where>
    </select>
</mapper>

